.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  animation: indeterminate-progress 2s infinite ease-in-out;
  transform-origin: 0% 50%;
}

@keyframes indeterminate-progress {
  0% {
    transform: translateX(-100%) scaleX(0.5);
  }
  50% {
    transform: translateX(0) scaleX(0.8);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
